section.header h3 {
    text-align: center;
    font-family: 'Eczar', serif;
    margin-top: 1em;
    border-top: 2px dashed blue;
    border-bottom: 2px dashed blue;
    border-radius: 3em;
    background-color: lavender;
}

body {
    background-image: url("../images/tumblr_mrio36PRmx1relaado1_500.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

div#pic .container img {
    float: right;
}

#divide {
  background: url(../images/effects_3.png);
    margin-top: 1.5em;
    border-radius: 1em;
    padding: 32px;
    border-top: 2px dashed blue;
    border-bottom: 2px dashed blue;
    border-radius: 3em;
    background-color: #939de2;
    background-size: cover;
    position: inherit;
}

div #pic {
    height: 20em;
    width: 19em;
    margin-bottom: 5em;
}

#city_of_dreams {
    float: left;
    margin: 0.5em;
}

div .four .constainer{
  border-top: 2px dashed blue;
  border-bottom: 2px dashed blue;
  border-radius: 3em;
  background-color: lavender;
}

table a {
  background: lightskyblue;
    color: black;
    border-radius: 0.2em;
    display: inline-block;
}

/*a {
    color: #2427f8;
}*/


@media only screen and (max-width: 780px) {
  body {background-image: url("../images/tumblr_mrio36PRmx1relaado1_500.gif");
  background-repeat: repeat;
  }
}
